/* 
Sources:
    Modal Boxes: w3 schools ; https://www.w3schools.com/howto/howto_css_modals.asp
*/

body {
    background-color: rgb(5, 5, 27);
    text-align: center;
    font-family: 'Teko', sans-serif;
    font-size: .5cm;
}


/* Display for story content */

#game-container {
    border-radius: 45px;
    border-style: solid;
    border-width: thick;
    border-color: rgb(97, 91, 94);
    background-color: white;
    width: 99.5%;
    float: top left;
    position: relative;
    text-align: center;
}

#game-message {
    width: 50%;
    min-height: 5in;
    max-height: 5in;
    overflow-y: auto;
    transform: translateX(50%);
    text-align: left;
}


/* Display for buttons */

#options {
    line-height: 50px;
    margin-top: 1cm;
    min-height: 3in;
    max-height: 3in;
    overflow-y: auto;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: bottom;
}

#opening {
    text-align: center;
}

#credit {
    position: fixed;
    bottom: 0;
    color: grey;
    right: 10px;
    font-size: 17px;
}

button {
    color: white;
    background-color: rgb(63, 0, 145);
    border: none;
    border-radius: 5px;
    width: 10%;
    font-family: 'Teko', sans-serif;
    font-size: .5cm;
    transform: translateX(-5px) translateY(-5px);
    box-shadow: 5px 5px rgb(145, 0, 72);
}

button:hover {
    color: rgb(251, 255, 43);
    border-color: white;
    border-style: solid;
    border-width: thin;
}

button:active {
    transform: translateX(0px) translateY(0px);
    box-shadow: none;
}

a {
    text-decoration: none;
    color: purple;
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

td {
    border-style: solid;
}

td:hover {
    border-style: solid;
    border-color: black;
    background-color: purple;
    color: white;
}

h1 {
    text-align: center;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content/Box */

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border-radius: 45px;
    border-style: solid;
    border-width: thick;
    border-color: rgb(97, 91, 94);
    width: 25%;
    /* Could be more or less, depending on screen size */
}


/* Cookie warning block */

#warning {
    background-color: rgb(145, 0, 72);
    display: inline-block;
    width: 100%;
}

#cookies-message {
    color: white;
    float: left;
    margin-left: 10px;
}

#close {
    width: 25px;
    position: right;
    box-shadow: none;
    float: right;
    margin-right: 10px;
    margin-top: 25px;
    border: none;
}

#close:hover {
    background-color: black;
    color: white;
}