body {
    background-color: rgb(145, 0, 72);
}

table {
    height: 700px;
    table-layout: fixed;
    text-align: center;
    background-color: #ffffff;
    border-collapse: collapse;
    width: 100%;
}

table,
td {
    border: 10px solid rgb(145, 0, 72);
}

td {
    width: 50%;
    height: 700px;
    overflow-y: hidden;
}

button {
    color: white;
    background-color: rgb(145, 0, 72);
    border: none;
    width: 25%;
}

button:hover {
    background-color: rgb(63, 0, 145);
}