body {
    background-color: rgb(145, 0, 72);
    text-align: center;
    font-family: 'Teko', sans-serif;
    font-size: .5cm;
}

#game-message {
    background-color: white;
    min-height: 5in;
    max-height: 5in;
    overflow-y: auto;
    width: 100%;
    float: top;
}

#options {
    line-height: 50px;
    margin-top: 1cm;
    background-color: white;
    min-height: 3in;
    max-height: 3in;
    overflow-y: auto;
    width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: bottom;
}

#credit {
    position: fixed;
    bottom: 0;
    right: 10px;
}

button {
    color: white;
    background-color: rgb(145, 0, 72);
    border: none;
    width: 25%;
    font-family: 'Teko', sans-serif;
    font-size: .5cm;
}

button:hover {
    background-color: rgb(63, 0, 145);
    color: green;
}